<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td><%= product.image_url %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product, :class => "button" %></td>
    <td><%= link_to 'Edit', edit_product_path(product), :class => "button" %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete, :class => "button danger" %></td>
  </tr>
<% end %>
</table>
<%= paginate @products %>
<br />

<%= link_to 'New Product', new_product_path, :class => "button big" %>
