<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Products List</h1>

<% @products.each do |product| %>
  <ul class="pricing_table">
	<li>
        <div class="footer">
			<h3><%= product.title %></h3>
		</div>
		<h3></h3>
		<h2><%= number_to_currency(product.price) %></h2>
		<%= image_tag(product.image_url) %>
		

         
			<div class="price">
				
			</div>
		
		<div class="features">
			<ul>
				<li><%= sanitize(product.description) %></li>
				
			</ul>
		</div>
		<div class="footer">
			<%= button_to 'Add to Cart', line_items_path(product_id: product), :class => "button big" %>
		</div>
	</li>
</ul>
<% end %>

